.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header h2{
    font-size: 24px;
    color: white;
}
.header span{
    color: white;
    font-size: 20px;
}